h3 {
    color: green;
}

p {
    color: orange;
}

#first{
 /* # = id값이 무엇(first)인 것 */
    color: yellow
}

#s{
    color: pink
}

/* p보다 # 아이디 지정한 것이 우선순위 높음 */

.a {
    color: rgb(202, 27, 135)
}

ol {
    font-size: 12px;
}

/* ol 태그 안의 리스트 중 클래스가 a인 것만 */
ol > li.a {
    font-size: 10px;
}

#unique {
    background-color: red
}

ol > li#unique {
    background-color: yellow
}

a:link {
    color: red
}

a:visited {
    color: pink
}


/* inline은 딱 값의 크기만큼만 영역차지 */
div{
    /* display: inline; */
}

/* 기본적으로 display가 없으면 블럭방식으로 영역차지 */
/* 줄 바꾸며 코드 쓰는 경우 div, p를 사용 */

div.square {
    background-color: red;
    width: 100px;
    height: 100px;
}

.border {
    border-style: solid;
    border-width: 3px;
}

/* 두 사각형 사이의 거리 */
/* 반응형 웹을 만들기 위해 px단위로 수정하지 않고 배열하는 형태로 진행할 것 */
.margin {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}